
body{
    margin: 0;
}
header{
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(245, 243, 242);
    background: white;
}
.logo_div{
    display: flex;
    cursor: pointer;
    
}
header img{
    width: 60px;
    border-radius: 100px;
}
.navlist{
    display: flex;
    gap: 20px;
}

nav li{
    list-style: none;
    font-size: large;
    font-size: 20px;
    padding: 15px;
    max-height: 20px;;
}
nav a{
    text-decoration: none;
    color: black;
    
}
nav li:hover{
    font-size: 1.5rem;
    transition: 0.5s;
}
.reseaux-sociaux{
    display: flex;
    gap: 20px
    ;
}
.reseaux-sociaux svg:hover{
    transform: rotate(45deg);
    transition: 0.5s;
}
.hero_section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_section img{
    width: 100vw;
}
.herodiv{
    position: absolute;
    margin: 0;
    text-align: center;
}
#bigheadhero{
    font-size: 80px;
    font-weight: 900;
    font-family:'Times New Roman', Times, serif;
    color: white;
    margin: 0;
}
.hero_section p{
    color: black;
    font-size: 1.2rem;
    text-align: center;
}
.hero_section input{
    width: 150px;
    height: 50px;
    border-radius: 30px;
}
#expresso{
    background: white;
    transition: 0.4s ease-in;
}
#touba{
    background: rgb(235, 113, 25);
    transition: 0.4s ease-in;
}
#expresso:hover{
    background: salmon;
}
#touba:hover{
    background: chocolate;
}
/*.linearG{
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: linear-gradient(#00000008, #000000);
}*/

/*Product sections*/
.products{
    padding: 10px 100px;
    position: relative;
    background-color: rgb(192, 136, 92);
}
.nos_titres{
    text-align: center;
    font-size: 42px;
    margin-bottom: 20px;

}
.product-cards{
    background: chocolate;
    border-radius: 15px;
    max-width: 700px;
}
.cartes{
    display: flex;
    gap: 50px;
    
}
.cartes img{
    height: 400px;
    border-radius: 15px 15px 0 0;
}
.product-img img{
    width: 100%;
}
.product-title{
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
    padding: 10px 20px;
    
}
.product-desc{
    color: whitesmoke;
    font-size: 16px;
    padding: 10px 20px;
}
.product-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.product-price{
    font-size: 24px;
    font-weight: 700;
    color: black;
}

/*About*/
.about{
    padding: 50px;
    background: chocolate;
    border: 2px solid black;
    
}
.about-container{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 60px;
    margin-top: 60px;
    padding-top: 70px;
    padding-right: 50px;
}
.imgabout{
    margin: 0 auto;
}
.about-container img{
    height: 600px;
    border-radius: 45px;
}
.about h1, .about h2{
    text-align: center;
}


/*contact*/

#agence{
    font-size: 16px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 100%;
}
#agence th{
    padding-top: 11px;
    padding: 11px;
    background: rgb(192, 136, 92);
    font-size: 2rem;
}
#agence td{
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
}
.catalogue{
    background-color:darksalmon;
}
main .catalogue .catalog-head h1{
    text-align: center;
    
}
.favoris{
    background-color: beige;
    display: flex;
    padding: 0 50px;
}

.topHot h1{
    text-align: center;
}

 .hotcoffe{ 
    display: flex;
    flex-direction: column;
    /*width: 50%;
   Until i add the speciality div via the model : https://fliphtml5.com/fr/templates/78701020/modern-coffee-catalog-template/  */
}  
.bottomHot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nameprice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    max-height: 40px;

}
.nameprice p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 20px;
    
}
.soumet{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(206, 99, 99);
    height: 3px;
    margin-bottom: 10px;
}

.bottomHot{
    display: flex;
    flex-direction: row;
    
}
.hotList{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: white solid 1px ;
    border-radius: 45px;
    width: 45%;
    
}
.threeplats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border: white solid 1px ;
    border-radius: 45px;
}

.threecards{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imageplat img{
    clip-path: circle(50% at 50% 50%);
    width: 200px;
}